{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "preserve",
  "endOfLine": "crlf",
  "parser": "babel",
  "XXXplugins": ["./prettier-format-extra.mjs"]
}
